@charset "UTF-8";

/* Google Icon*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

span.material-symbols-outlined.filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* Header */
.header {
    left: 0rem;
    top: 0rem;
    width: 100%;
}

div.logo {
    height: 3.4375rem;
    width: 3.4375rem;
    padding-top: 0.96875rem;
    padding-bottom: 0.96875rem;
    padding-right: 0.96875rem;
    padding-left: 0.96875rem;
    float: left;
}

span.logo {
    color: rgb(158 158 158);
    font-size: larger;
}

div.brand {
    height: 3.4375rem;
    width: 9.1055rem;
    padding-top: 0.96875rem;
    padding-bottom: 0.96875rem;
    padding-right: 0.96875rem;
    padding-left: 0rem;
    float: left;
}

div.nav-top-bar {
    height: 3.4375rem;
    width: 40.375rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-right: 0.96875rem;
    padding-left: 0.96875rem;
    float: left;
}

ul.nav-top-bar {
    height: 3.4375rem;
    padding-top: 0.96875rem;
    padding-bottom: 0rem;
    padding-right: 0.96875rem;
    padding-left: 0.96875rem;
}

li.nav-top-bar.is-active {
    border-bottom-color: #4285F4;
    border-bottom-style: solid;
}
li.nav-top-bar.active {
    border-bottom-color: #4285F4;
    border-bottom-style: solid;
}

a.nav-top-bar {
    margin: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0.96875rem;
    padding-right: 0.96875rem;
}

/* Main */
.main {
    /*position: absolute;*/
    /*left: 0rem;*/
    /*top: 3.4375rem;*/
    width: 100%;
    height: 100%;
    float: left;
}

div.nav-main-bar {
    height: 5.265625rem;
    padding-top: 0.96875rem;
    padding-bottom: 0.96875rem;
    padding-left: 0.96875rem;
    padding-right: 0.96875rem;

}

div.nav-main-container {
    height: 3.328125rem;
    padding-top: 0.96875rem;
    padding-bottom: 0.96875rem;
    padding-left: 0.96875rem;
    padding-right: 0.96875rem;
}

p.docs-example-orbit-slide {
    margin: 0rem;
    color: rgb(60 64 67);
}

div.nav-main-about {
    min-height: 37.5rem;
    padding-top: 0.96875rem;
    padding-bottom: 0.96875rem;
    padding-left: 0.96875rem;
    padding-right: 0.96875rem;
    background-color: rgb(73 81 68);
}

div.nav-main-about.scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

p.nav-main-about {
    font-size: x-large;
    color: rgb(255 255 255);
}

div.nav-main-about-text {
    height: 35.5625rem;
    width: 50%;
    padding-right: 15.5px;
    float: left;
}

div.nav-main-about-page {
    height: 32.09375rem;
}

.p-2,
.p-3 {
    display: none;
}

div.nav-main-about-button {
    cursor: pointer;
    display: flex;
    margin-top: 0.96875rem;
    margin-left: 38%;
    padding: 0.5rem;
    height: 2.5rem;
    width: 8.0rem;
    border-radius: 1.5625rem;
    background-color: rgb(24 25 23);
}

p.nav-main-about-button {
    padding-left: 1.026875rem;
    padding-right: 1.026875rem;
    color: white;
    font-weight: bold;
}

div.nav-main-about-img {
    height: 289px;
    padding-left: 65%;
}

p.nav-main-about.motto{
    font-size: medium;
    color: rgb(186 211 198);
}

div.nav-main-info {
    height: 100%;
    padding-top: 0rem;
    padding-bottom: 0.96875rem;
    padding-left: 0.96875rem;
    padding-right: 0.96875rem;

}

p.nav-main-info,
h2.nav-main-info,
h3.nav-main-info {
    color: rgb(60 64 67);
}

p.nav-main-card-button {
    font-size: large;
    color: rgb(60 64 67);
}

div.nav-main-info-skill {
    min-height: 17.8125rem;
    border-radius: 1.5625rem;
    margin-top: 3.328125rem;;
    background-color: rgb(255 255 255);
}

div.nav-main-info-skill-title {
    width: 100%;
    margin-bottom: 3.328125rem;
}

p.nav-main-info-skill {
    font-size: large;
}

div.nav-main-card-button {
    display: flex;
    margin-top: 0.96875rem;
    margin-left: 29%;
    height: 2.5rem;
    width: 8.9rem;
    padding-top: 0.35rem;
    padding-bottom: 0rem;
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
    border-radius: 0.3825rem;
    border-color: rgb(60 64 67);
    border-width: 0.125rem;
    border-style: solid;
}

div.nav-main-card-button.soft {
    margin-left: 37.5%;
}

div.nav-main-info-skill-hard {
    width: 25.15625rem;
    height: 35.625rem;
    border-radius: 1.5625rem;
    background-color: rgb(234 245 214);
    float: left;
    margin-right: 1.5rem;
    margin-left: 13.5%;
    padding: 1.5rem;
}

p.nav-main-info-skill-hard,
h3.nav-main-info-skill-hard {
    width: 100%;
    color: rgb(60 64 67);
}

div.nav-main-info-skill-soft {
    width: 38.5rem;
    height: 35.625rem;
    border-radius: 1.5625rem;
    background-color: rgb(216 230 209);
    padding: 1.5rem;
    float: left;
}

p.nav-main-info-skill-soft,
h3.nav-main-info-skill-soft {
    width: 100%;
    color: rgb(60 64 67);
}

div.nav-main-info-certificate {
    min-height: 17.8125rem;
    border-radius: 1.5625rem;
    margin-top: 3.328125rem;;
    background-color: rgb(255 255 255);
}

div.nav-main-info-certificate-title {
    width: 100%;
    margin-bottom: 3.328125rem;
}

p.nav-main-info-certificate {
    font-size: large;
}

div.nav-main-card-button {
    display: flex;
    margin-top: 0.96875rem;
    margin-left: 29%;
    height: 2.5rem;
    width: 8.9rem;
    padding-top: 0.35rem;
    padding-bottom: 0rem;
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
    border-radius: 0.3825rem;
    border-color: rgb(60 64 67);
    border-width: 0.125rem;
    border-style: solid;
}

div.nav-main-card-button.education {
    margin-left: 37.5%;
}

div.nav-main-info-certificate-courses {
    width: 25.15625rem;
    height: 35.625rem;
    border-radius: 1.5625rem;
    background-color: rgb(240 234 218);
    padding: 1.5rem;
    float: left;
}

p.nav-main-info-certificate-courses,
h3.nav-main-info-certificate-courses {
    width: 100%;
    color: rgb(60 64 67);
}

div.nav-main-info-certificate-education {
    width: 38.5rem;
    height: 35.625rem;
    border-radius: 1.5625rem;
    background-color: rgb(220 221 205);
    padding: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 13.5%;
    float: left;
}

p.nav-main-info-certificate-education,
h3.nav-main-info-certificate-education {
    width: 100%;
    color: rgb(60 64 67);
}





div.nav-main-info-repository {
    min-height: 17.8125rem;
    border-radius: 1.5625rem;
    margin-top: 3.328125rem;;
    background-color: rgb(255 255 255);
}

div.nav-main-info-repository-title {
    width: 100%;
    margin-bottom: 3.328125rem;
}

p.nav-main-info-repository {
    font-size: large;
}

div.nav-main-card-button {
    cursor: pointer;
    display: flex;
    margin-top: 0.96875rem;
    margin-left: 29%;
    height: 2.5rem;
    width: 8.9rem;
    padding-top: 0.35rem;
    padding-bottom: 0rem;
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
    border-radius: 0.3825rem;
    border-color: rgb(60 64 67);
    border-width: 0.125rem;
    border-style: solid;
}

div.nav-main-card-button.git {
    margin-left: 43.5%;
}

div.nav-main-info-repository-git {
    width: 65.15625rem;
    height: 27.8125rem;
    border-radius: 1.5625rem;
    background-color: rgb(252 229 205);
    padding: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 13.5%;
    float: left;
}

p.nav-main-info-repository-git,
h3.nav-main-info-repository-git {
    width: 100%;
    color: rgb(60 64 67);
}

div.nav-main-info-clear {
    clear: both;
}

div.nav-main-info-hobby {
    min-height: 17.8125rem;
    border-radius: 1.5625rem;
    padding-top: 3.328125rem;;
    background-color: rgb(255 255 255);
    /*margin-bottom: 100px;*/
}

div.nav-main-info-hobby-title {
    width: 100%;
    margin-bottom: 3.328125rem;
}

div.nav-main-info-hobby-indoor,
div.nav-main-info-hobby-outdoor,
div.nav-main-info-hobby-sport {
    width: 32%;
    padding-top: 0.96875rem;
    padding-bottom: 0.96875rem;
    padding-left: 3.875rem;
    padding-right: 3.875rem;
}

div.nav-main-info-hobby-indoor.icon,
div.nav-main-info-hobby-outdoor.icon,
div.nav-main-info-hobby-sport.icon {
    display: flex;
    justify-content: center;
}

div.nav-main-info-hobby-indoor{
    float: left;
    margin-right: 7.75px;
}

div.nav-main-info-hobby-indoor-list {
    width: 100%;
    height: 22.125rem;
    border-radius: 1.5625rem;
    background-color: rgb(255 242 204);
    padding: 1.5rem;
    margin-top: 0.96875rem;
    float: left;
}

div.nav-main-info-hobby-outdoor{
    float: left;
    margin-left: 7.75px;
    margin-right: 7.75px;
}

div.nav-main-info-hobby-outdoor-list {
    width: 100%;
    height: 22.125rem;
    border-radius: 1.5625rem;
    background-color: rgb(217 234 211);
    padding: 1.5rem;
    margin-top: 0.96875rem;
    float: left;
}

div.nav-main-info-hobby-sport {
    float: left;
    margin-left: 7.75px;
}

div.nav-main-info-hobby-sport-list {
    width: 100%;
    height: 22.125rem;
    border-radius: 1.5625rem;
    background-color: rgb(208 224 227);
    padding: 1.5rem;
    margin-top: 0.96875rem;
    float: left;
}

div.nav-main-info-jobs {
    min-height: 17.8125rem;
    border-radius: 1.5625rem;
    margin-top: 3.328125rem;
    background-color: rgb(255 255 255);
}

div.nav-main-info-jobs-title {
    width: 100%;
    margin-bottom: 1.6640rem;
}

p.nav-main-info-jobs {
    font-size: large;
}

div.nav-main-info-jobs-extra {
    width: 65.15625rem;
    height: 27.8125rem;
    padding: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 13.5%;
    float: left;
}

p.nav-main-info-jobs-extra,
h3.nav-main-info-jobs-extra {
    width: 100%;
    color: rgb(60 64 67);
}

p.hobby-notes {
    color: rgb(158 158 158);
    font-size: smaller;
}

.signature {
    padding-top: 3.328125rem;
    padding-left: 12%;
}

/* Region picker*/
.region-picker {
    /*position: absolute;*/
    /*left: 0rem;*/
    /*top: 3.4375rem;*/
    width: 100%;
    height: 100%;
    float: left;
    display: none;
}

div.nav-region-picker-bar {
    height: 5.265625rem;
    padding-top: 0.96875rem;
    padding-bottom: 0.96875rem;
    padding-left: 0.96875rem;
    padding-right: 0.96875rem;

}

div.nav-region-picker-container {
    height: 3.328125rem;
    padding-top: 0.96875rem;
    padding-bottom: 0.96875rem;
    padding-left: 0.96875rem;
    padding-right: 0.96875rem;
}

div.nav-region-picker-title {
    min-height: 17.5rem;
    padding-top: 0.96875rem;
    padding-bottom: 0.96875rem;
    padding-left: 0.96875rem;
    padding-right: 0.96875rem;
    background-color: rgb(244 244 246);
}

div.nav-region-picker-title.scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

h1.nav-region-picker {
    font-weight: bold;
    font-size: 3.9375rem;
    color: rgb(60 64 67);
}

p.nav-region-picker {
    color: rgb(60 64 67);
}

img.nav-region-picker {
    width: 14.025rem;
    height: 14.025rem;
}
div.nav-region-picker-title-text {
    width: 75%;
    padding-right: 15.5px;
    float: left;
}

div.nav-region-picker-tab {
    height: 32.09375rem;
}

div.nav-region-picker-lang {
    height : 36.3225rem;
    padding-top: 3.9375rem;
    padding-bottom: 3.9375rem;
}

img.nav-region-picker-lang {
    padding-top: 0.375rem;
    float: left;
}

div.nav-region-picker-lang-nationality {
    padding-bottom: 1.5rem;
    float: left;
}

span.nationality {
    font-size: larger;
}

div.nav-region-picker-lang-americas,
div.nav-region-picker-lang-asia-pacific,
div.nav-region-picker-lang-europe {
    float: left;
    width: 33%
}

/* Privacy */
.privacy {
    /*position: absolute;*/
    /*left: 0rem;*/
    /*top: 3.4375rem;*/
    width: 100%;
    height: 100%;
    float: left;
    display: none;
}

div.nav-privacy-bar {
    height: 5.265625rem;
    padding-top: 0.96875rem;
    padding-bottom: 0.96875rem;
    padding-left: 0.96875rem;
    padding-right: 0.96875rem;

}

div.nav-privacy-container {
    height: 3.328125rem;
    padding-top: 0.96875rem;
    padding-bottom: 0.96875rem;
    padding-left: 0.96875rem;
    padding-right: 0.96875rem;
}

div.nav-privacy-title {
    min-height: 17.5rem;
    padding-top: 0.96875rem;
    padding-bottom: 0.96875rem;
    padding-left: 0.96875rem;
    padding-right: 0.96875rem;
    background-color: rgb(244 244 246);
}

div.nav-privacy-title.scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

h1.nav-privacy {
    font-weight: bold;
    font-size: 3.9375rem;
    color: rgb(60 64 67);
}

p.nav-privacy {
    color: rgb(60 64 67);
}

img.nav-privacy {
    width: 14.025rem;
    height: 14.025rem;
}
div.nav-privacy-title-text {
    width: 75%;
    padding-right: 15.5px;
    float: left;
}

div.nav-privacy-policy {
    padding-top: 0.96875rem;
    padding-bottom: 0.96875rem;
}

div.nav-privacy-auth,
div.nav-privacy-cat,
div.nav-privacy-meaning,
div.nav-privacy-changes {
    padding-bottom: 0.96875rem;
}

h2.nav-privacy,
li.nav-privacy,
p.nav-privacy {
    color: rgb(60 64 67);
}

h2.nav-privacy {
    font-weight: bolder;
}

/* Footer */
.footer {
    /*left: 0rem;*/
    /*bottom: 0rem;*/
    width: 100%;
    height: 3.328125rem;
    padding-top: 0.96875rem;
    padding-bottom: 0.96875rem;
    padding-right: 0.96875rem;
    padding-left: 0.96875rem;
    /*margin-top: 271.875rem;*/
    background-color: rgb(24 26 24);
    float: left;
}

.footer-socials {
    float: left;
}

a.footer-socials {
    padding-right: 15.5px;
}

img.footer-socials {
    width: 2rem;
    height: 2rem;
}

.footer-terms {
    float: right;
}

.flag {
   width: 2rem;
   height: 1.5rem;
}

div.footer-flag {
    float: left;
    margin-right: 3.328125rem;
}

.footer-flag {
    font-size: smaller;
    color: rgb(186 211 198);
}

div.footer-privacy {
    float: left;
    padding-top: 0,0625rem;
}

.footer-privacy {
    font-size: smaller;
    color: rgb(186 211 198);
}